<% include partials/header %>

<h2>  <%= foundcampground.name %> </h2> 

<h3>  <%= foundcampground.description %> </h3> 

<h5>  <%= foundcampground.comments[0].text %> </h5> 
<h5>  <%= foundcampground.comments[0].author %> </h5> 
<% include partials/footer %>